body {
  font-family: Tahoma, Geneva, sans-serif; margin: 1em 2em 1em 2em; font-size: 100%; line-height: 130%;

  background-color: #ffffff;
  color: #292930;
}

h1, h2, h3, h4, h5, h6 {font-family: Trebuchet MS, Helvetica, sans-serif; font-weight: bold; line-height:100%; margin-top: 0.5em; margin-bottom: 0.5em;}
h1 {font-size: 1.6em; color: #0C374D;}
h2 {font-size: 1.2em; color: #0C374D;}
h3 {font-size: 1.0em; color: #0C374D;}
a.pagetitle:link { font-weight: bold; font-size: 20pt; color: #0C374D; text-decoration: none; }
a.pagetitle:visited { color: #0C374D; text-decoration: none; }
a.pagetitle:hover { color: #2a7ae2; }
a.tag:link { background-color: #ffffff; color: #696969; text-decoration: none; }
a.tag:visited { background-color: #ffffff; color: #696969; text-decoration: none;}
a.tag:hover { background-color: #ffffff; color: #2a7ae2; }
a:link { color: #2A7AE2; text-decoration: none; }
a:visited { color: #2A7AE2; }
a:hover { color: #559922; }

